# Backend
fastapi
requests

# Server
uvicorn == 0.32.1

# Database
sqlmodel

# Mapping data
pydantic

# Langchain libraries for LLM integration and experimentation
langchain # LLM
langchain-ollama # LLM
langchain-community # Runnable
langchain-experimental # Runnable